* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-white: #ffffff;
  --scratch-blue-050: #E7EEFF;
  --scratch-blue-100: #CADBFF;
  --scratch-blue-200: #ACC7FF;
  --scratch-blue-300: #7DAFFF;
  --scratch-blue-400: #4D97FF;
  --scratch-blue-500: #478CEC;
  --scratch-blue-600: #4280D9;
  --scratch-blue-700: #3C75C6;
  --scratch-blue-800: #3365AA;
  --scratch-blue-900: #2B548E;
  --scratch-blue-950: #224472;

  --scratch-blue: var(--scratch-blue-400);
  --scratch-bule-toggled: var(--scratch-blue-600);
}

body {
  margin: 0px;
  border: 0px;
}

ul {
  list-style: none;
  /* text-align: center; */
}

li {
  display: inline-block;
}

a {
  -webkit-text-fill-color: var(--color-white);
  text-decoration-line: none;
  font-weight: bold;
  font-size: 20px;
}


.navigation {
  height: 120px;
  width: calc(100vw - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: var(--scratch-blue);
  padding: 5px;
}

.hidden {
  display: none;
}

.navigation-img {
  width: calc(100vw - 20px);
  height: 85px;
}

.navigation-list {
  display: inline-block;
  position: absolute;
}

.profile-box {
  display: inline-block;
  margin-left: 170px;
}

.home {
  margin-right: 10px;
}
